@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Tin tức</title>
    <link rel="stylesheet" href="baitap2.css" />
    <script src="https://kit.fontawesome.com/3e21e075ef.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main-content">
        <a href="">Trang chủ ></a>
        <a href="">Tin tức</a>
    </div>

    <div class="main">
        <div style="text-align: center; color:black">Tin tức</div>
        <div class="press">
            <div class="board1">
                <a href="https://shopdunk.com/images/thumbs/0021938_iphone-15-pro-max%20(1)_1600.jpeg">
                    <img id="img1" src="1.jpeg">
                </a>
                <div class="font-topic-1">
                    <h1 id="topic-1">
                        Bảng giá iPhone 15 Pro Max chỉ từ 30 triệu [Cập nhật 25/9]
                    </h1>
                </div>
            </div>
            <div class="press2">
                <div class="board2">
                    <a href="https://shopdunk.com/images/thumbs/0021925_iphone-15-plus-duoc-trang-bi-loat-nang-cap-noi-bat-du-gia-khong-tang_1600.png">
                        <img id="img2" src="https://shopdunk.com/images/thumbs/0021925_iphone-15-plus-duoc-trang-bi-loat-nang-cap-noi-bat-du-gia-khong-tang_1600.png">
                    </a>
                    <div class="font-topic-2"></div>
                    <h1 id="topic-2">
                        iPhone 15 có mấy màu? Khám phá 5 gam màu cực "cháy"
                    </h1>
                </div>
                <div class="board3">
                    <a href="">
                        <img id="img3" src="https://shopdunk.com/images/thumbs/0020223_su-kien-ra-mat-iphone-15_1600.png">
                    </a>
                    <div class="font-topic-3">
                        <h1 id="topic3">
                            iPhone 15 IOS bao nhiêu? IOS 17 với 12+ nâng cấp cực cháy
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="board4" style="font-size: 18px; padding-top:20px">
            <div class="selection">
                <a href="https://shopdunk.com/apple-news">
                    <i class="fa-brands fa-apple"></i>
                    Tin tức Apple
                </a>
                <a href="https://shopdunk.com/news-review">
                    <i class="fa-solid fa-bars"></i>
                    Bài viết review
                </a>
                <a href="https://shopdunk.com/tin-kham-pha">
                    <i class="fa-solid fa-globe"></i>
                    Khám phá
                </a>
                <a href="https://shopdunk.com/thu-thuat">
                    <i class="fa-solid fa-lightbulb"></i>
                    Thủ thuật
                </a>
                <a href="https://shopdunk.com/khuyen-mai">
                    <i class="fa-solid fa-list-ol"></i>
                    Khuyến mại
                </a>
                <a href="https://shopdunk.com/tin-khac">
                    <i class="fa-solid fa-newspaper"></i>
                    Tin khác
                </a>
                <a href="https://shopdunk.com/news-ivideo">
                    <i class="fa-solid fa-video"></i>
                    Video
                </a>
                <a href="https://shopdunk.com/news-vip-customer">
                    <i class="fa-solid fa-people-group"></i>
                    Góc cảm ơn
                </a>
            </div>
        </div>
        <div class="font-news" style="font-size: 15px; margin-left: 300px;">
            <h1>Tin tức Apple</h1>
        </div>
        <div class="press3">
            <div class="board5">
                <a href="https://shopdunk.com/kich-thuoc-iphone-15">
                    <img id="img4" src="https://shopdunk.com/images/thumbs/0021970_kich-thuoc-iphone-15_1600.jpeg" alt="">
                </a>
                <div class="fontb5">
                    <h1 id="f5" style="font-size:15px">Kích thước iPhone 15 series - Toàn bộ cao và mỏng hơn!</h1>
                    <p style="font-size: 15px;"><i class="fa-regular fa-calendar"></i>29/09/2023</p>
                </div>
            </div>
            <div class="board6">
                <a href="https://shopdunk.com/dat-truoc-iphone-15">
                    <img id="img5" src="https://shopdunk.com/images/thumbs/0021488_dat-truoc-iphone-15_1600.jpeg" alt="">
                </a>
                <div class="fontb6">
                    <h1 id="f6" style="font-size:15px;">Bùng Nổ Ưu Đãi Trước iPhone 15 Từ 22/9</h1>
                    <p style="font-size: 15px;"><i class="fa-regular fa-calendar"></i>29/09/2023</p>
                </div>
            </div>
        </div>
        <div class="press3">
            <div class="board5  ">
                <a href="https://shopdunk.com/iphone-15-dung-chip-gi">
                    <img id="img4" src="https://shopdunk.com/images/thumbs/0021906_iphone-15-dung-chip-gi_1600.jpeg" alt="">
                </a>
                <div class="fontb5">
                    <h1 id="f5" style="font-size:15px">iPhone 15 Xài Chip Gì? A16 Bionic và A17 Pro</h1>
                    <p style="font-size: 15px;"><i class="fa-regular fa-calendar"></i>29/09/2023</p>
                </div>
            </div>
            <div class="board6">
                <a href="https://shopdunk.com/ipad-gen-10-va-ipad-gen-9">
                    <img id="img5" src="https://shopdunk.com/images/thumbs/0019052_ipad-gen-9-va-gen-10_1600.jpeg" alt="">
                </a>
                <div class="fontb6">
                    <h1 id="f6" style="font-size:15px;">Điểm Giống Và Khác Giữa iPad Gen 9 và Gen 10</h1>
                    <p style="font-size: 15px;"><i class="fa-regular fa-calendar"></i>29/09/2023</p>
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <a href="https://shopdunk.com/apple-news" style="font-size: 14px;">Xem tất cả Tin tức Apple ></a>
        </div>
        <div class="font-news" style="font-size: 15px; margin-left: 300px;">
            <h1>Bài Viết Review</h1>
        </div>
        <div class="press3">
            <div class="board5">
                <a href="https://shopdunk.com/kich-thuoc-iphone-15">
                    <img id="img4" src="https://shopdunk.com/images/thumbs/0019069__DSC4273%20(1)_1600.jpeg " alt="">
                </a>
                <div class="fontb5">
                    <h1 id="f5" style="font-size:15px">Đánh giá MacBook Air M1: Có ổn không?</h1>
                    <p style="font-size: 15px;"><i class="fa-regular fa-calendar"></i>29/09/2023</p>
                </div>
            </div>
            <div class="board6">
                <a href="https://shopdunk.com/dat-truoc-iphone-15">
                    <img id="img5" src="https://shopdunk.com/images/thumbs/0018765_danh-gia-ipad-air-4_1600.jpeg" alt="">
                </a>
                <div class="fontb6">
                    <h1 id="f6" style="font-size:15px;">Đánh giả iPad Air 4: Vẫn Quá Ngon</h1>
                    <p style="font-size: 15px;"><i class="fa-regular fa-calendar"></i>29/09/2023</p>
                </div>
            </div>
        </div>
        <div class="press3">
            <div class="board5  ">
                <a href="https://shopdunk.com/iphone-15-dung-chip-gi">
                    <img id="img4" src="https://shopdunk.com/images/thumbs/0019052_ipad-gen-9-va-gen-10_1600.jpeg" alt="">
                </a>
                <div class="fontb5">
                    <h1 id="f5" style="font-size:15px">Có Vẻ Như Bạn Đang Băn Khoăn?</h1>
                    <p style="font-size: 15px;"><i class="fa-regular fa-calendar"></i>29/09/2023</p>
                </div>
            </div>
            <div class="board6">
                <a href="https://shopdunk.com/ipad-gen-10-va-ipad-gen-9">
                    <img id="img5" src="https://shopdunk.com/images/thumbs/0019052_ipad-gen-9-va-gen-10_1600.jpeg" alt="">
                </a>
                <div class="fontb6">
                    <h1 id="f6" style="font-size:15px;">Điểm Giống Và Khác Giữa iPad Gen 9 và Gen 10</h1>
                    <p style="font-size: 15px;"><i class="fa-regular fa-calendar"></i>29/09/2023</p>
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <a href="https://shopdunk.com/news-review" style="font-size: 14px;">Xem tất cả Bài Viết Review ></a>
        </div>
        <div class="font-news" style="font-size: 15px; margin-left: 300px;">
            <h1>Khám Phá</h1>
        </div>
        <div class="press3">
            <div class="board5">
                <a href="https://shopdunk.com/kich-thuoc-iphone-15">
                    <img id="img4" src="https://shopdunk.com/images/thumbs/0021619_Untitled%20design_1600.png" alt="">
                </a>
                <div class="fontb5">
                    <h1 id="f5" style="font-size:15px">Đánh giá sức mạnh của chip A17 Pro</h1>
                    <p style="font-size: 15px;"><i class="fa-regular fa-calendar"></i>29/09/2023</p>
                </div>
            </div>
            <div class="board6">
                <a href="https://shopdunk.com/dat-truoc-iphone-15">
                    <img id="img5" src="https://shopdunk.com/images/thumbs/0021636_5-130923-042621_1600.jpeg" alt="">
                </a>
                <div class="fontb6">
                    <h1 id="f6" style="font-size:15px;">Chất Liệu TiTan Trên iPhone 15 Pro và Pro Max</h1>
                    <p style="font-size: 15px;"><i class="fa-regular fa-calendar"></i>29/09/2023</p>
                </div>
            </div>
        </div>
        <div class="press3">
            <div class="board5  ">
                <a href="https://shopdunk.com/iphone-15-dung-chip-gi">
                    <img id="img4" src="https://shopdunk.com/images/thumbs/0021906_iphone-15-dung-chip-gi_1600.jpeg" alt="">
                </a>
                <div class="fontb5">
                    <h1 id="f5" style="font-size:15px">iPhone 15 Xài Chip Gì? A16 Bionic và A17 Pro</h1>
                    <p style="font-size: 15px;"><i class="fa-regular fa-calendar"></i>29/09/2023</p>
                </div>
            </div>
            <div class="board6">
                <a href="https://shopdunk.com/ipad-gen-10-va-ipad-gen-9">
                    <img id="img5" src="https://shopdunk.com/images/thumbs/0021893_iphone-15-pro-max-co-vien-man-hinh-mong-hon-so-voi-iphone-15-plus_1600.jpeg" alt="">
                </a>
                <div class="fontb6">
                    <h1 id="f6" style="font-size:15px;">Kích Thước iPhone 15 Pro Max: 6.7 Inch</h1>
                    <p style="font-size: 15px;"><i class="fa-regular fa-calendar"></i>29/09/2023</p>
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <a href="https://shopdunk.com/tin-kham-pha" style="font-size: 14px;">Xem tất cả Khám Phá ></a>
        </div>
        <div class="font-news" style="font-size: 15px; margin-left: 300px;">
            <h1>Thủ Thuật</h1>
        </div>
        <div class="press3">
            <div class="board5">
                <a href="https://shopdunk.com/kich-thuoc-iphone-15">
                    <img id="img4" src="https://shopdunk.com/images/thumbs/0019027_launchpad-macbook_1600.jpeg" alt="">
                </a>
                <div class="fontb5">
                    <h1 id="f5" style="font-size:15px">Hướng Dẫn Sử Dụng Launch Pad MacBook</h1>
                    <p style="font-size: 15px;"><i class="fa-regular fa-calendar"></i>29/09/2023</p>
                </div>
            </div>
            <div class="board6">
                <a href="https://shopdunk.com/dat-truoc-iphone-15">
                    <img id="img5" src="https://shopdunk.com/images/thumbs/0018994_cach-tao-thu-muc-tren-macbook_1600.jpeg" alt="">
                </a>
                <div class="fontb6">
                    <h1 id="f6" style="font-size:15px;">Hướng Dẫn 5 Cách Tạo Thư Mục Trên MacBook</h1>
                    <p style="font-size: 15px;"><i class="fa-regular fa-calendar"></i>29/09/2023</p>
                </div>
            </div>
        </div>
        <div class="press3">
            <div class="board5  ">
                <a href="https://shopdunk.com/iphone-15-dung-chip-gi">
                    <img id="img4" src="https://shopdunk.com/images/thumbs/0018762_ipad-bi-do-khong-tat-duoc-nguon_1600.jpeg" alt="">
                </a>
                <div class="fontb5">
                    <h1 id="f5" style="font-size:15px">iPad Bị Đơ Không Tắt Được Nguồn?</h1>
                    <p style="font-size: 15px;"><i class="fa-regular fa-calendar"></i>29/09/2023</p>
                </div>
            </div>
            <div class="board6">
                <a href="https://shopdunk.com/ipad-gen-10-va-ipad-gen-9">
                    <img id="img5" src="https://shopdunk.com/images/thumbs/0018754_xoa-trang-macbook-m2_1600.jpeg" alt="">
                </a>
                <div class="fontb6">
                    <h1 id="f6" style="font-size:15px;">3 Cách Xoá Trắng MacBook M2</h1>
                    <p style="font-size: 15px;"><i class="fa-regular fa-calendar"></i>29/09/2023</p>
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <a href="https://shopdunk.com/apple-news" style="font-size: 14px;">Xem tất cả Thủ Thuật></a>
        </div>
        <div class="font-news" style="font-size: 15px; margin-left: 300px;">
            <h1>Khuyến Mại</h1>
        </div>
        <div class="press3">
            <div class="board5">
                <a href="https://shopdunk.com/kich-thuoc-iphone-15">
                    <img id="img4" src="https://shopdunk.com/images/thumbs/0022021_0022020_1500x760_Notext_1600_1600.png" alt="">
                </a>
                <div class="fontb5">
                    <h1 id="f5" style="font-size:15px">CHƯƠNG TRÌNH HOÀN TIỀN TRỊ GIÁ: 1.000.000đ</h1>
                    <p style="font-size: 15px;"><i class="fa-regular fa-calendar"></i>29/09/2023</p>
                </div>
            </div>
            <div class="board6">
                <a href="https://shopdunk.com/dat-truoc-iphone-15">
                    <img id="img5" src="https://shopdunk.com/images/thumbs/0022013_banner%20iphone%2015%20pro%20max%20TH_PC_1600.jpeg" alt="">
                </a>
                <div class="fontb6">
                    <h1 id="f6" style="font-size:15px;">Mở Bán Chính Thức - iPhone 15 Series</h1>
                    <p style="font-size: 15px;"><i class="fa-regular fa-calendar"></i>29/09/2023</p>
                </div>
            </div>
        </div>
        <div class="press3">
            <div class="board5">
                <a href="https://shopdunk.com/iphone-15-dung-chip-gi">
                    <img id="img4" src="https://shopdunk.com/images/thumbs/0021585_iphone-15-plus-so-huu-camera-cam-bien-48mp_1600.png" alt="">
                </a>
                <div class="fontb5">
                    <h1 id="f5" style="font-size:15px">Đặt Hàng Ngay Khi Có Chương Trình Ưu Đãi</h1>
                    <p style="font-size: 15px;"><i class="fa-regular fa-calendar"></i>29/09/2023</p>
                </div>
            </div>
            <div class="board6">
                <a href="https://shopdunk.com/ipad-gen-10-va-ipad-gen-9">
                    <img id="img5" src="https://shopdunk.com/images/thumbs/0021582_gia-iphone-15-pro-max-tai-my_1600.jpeg" alt="">
                </a>
                <div class="fontb6">
                    <h1 id="f6" style="font-size:15px;">Điểm Giống Và Khác Giữa iPad Gen 9 và Gen 10</h1>
                    <p style="font-size: 15px;"><i class="fa-regular fa-calendar"></i>29/09/2023</p>
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <a href="https://shopdunk.com/khuyen-mai" style="font-size: 14px;">Xem tất cả Khuyến Mại ></a>
        </div>
        <div class="font-news" style="font-size: 15px; margin-left: 300px;">
            <h1>Tin Khác</h1>
        </div>
        <div class="press3">
            <div class="board5">
                <a href="https://shopdunk.com/kich-thuoc-iphone-15">
                    <img id="img4" src="https://shopdunk.com/images/thumbs/0021923_2016-macbook-pro-macos-catalina_1600.jpeg" alt="">
                </a>
                <div class="fontb5">
                    <h1 id="f5" style="font-size:15px">[Mới Nhất] Thời điểm MacBook Pro M3 ra mắt</h1>
                    <p style="font-size: 15px;"><i class="fa-regular fa-calendar"></i>29/09/2023</p>
                </div>
            </div>
            <div class="board6">
                <a href="https://shopdunk.com/dat-truoc-iphone-15">
                    <img id="img5" src="https://shopdunk.com/images/thumbs/0021922_T5_1600.png" alt="">
                </a>
                <div class="fontb6">
                    <h1 id="f6" style="font-size:15px;">MacBook Air M3 khi nào ra mắt? Có gì mới đáng để mong đợi</h1>
                    <p style="font-size: 15px;"><i class="fa-regular fa-calendar"></i>29/09/2023</p>
                </div>
            </div>
        </div>
        <div class="press3">
            <div class="board5">
                <a href="https://shopdunk.com/iphone-15-dung-chip-gi">
                    <img id="img4" src="https://shopdunk.com/images/thumbs/0019029_macbook-danh-cho-sinh-vien_1600.jpeg" alt="">
                </a>
                <div class="fontb5">
                    <h1 id="f5" style="font-size:15px">Top 4 MacBook dành cho sinh viên: Cấu hình cao, giá tốt</h1>
                    <p style="font-size: 15px;"><i class="fa-regular fa-calendar"></i>29/09/2023</p>
                </div>
            </div>
            <div class="board6">
                <a href="https://shopdunk.com/ipad-gen-10-va-ipad-gen-9">
                    <img id="img5" src="https://shopdunk.com/images/thumbs/0018993_hoc-it-co-nen-mua-macbook_1600.jpeg" alt="">
                </a>
                <div class="fontb6">
                    <h1 id="f6" style="font-size:15px;">11 điều chứng minh MacBook là "đôi bạn cùng tiến"</h1>
                    <p style="font-size: 15px;"><i class="fa-regular fa-calendar"></i>29/09/2023</p>
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <a href="https://shopdunk.com/tin-khac" style="font-size: 14px;">Xem tất cả Tin Khác ></a>
        </div>
        <div class="font-news" style="font-size: 15px; margin-left: 300px;">
            <h1>iVideo</h1>
        </div>
        <div class="press3">
            <div class="board5">
                <a href="https://shopdunk.com/kich-thuoc-iphone-15">
                    <img id="img4" src="https://shopdunk.com/images/thumbs/0016899_maxresdefault_1600.jpeg" alt="">
                </a>
                <div class="fontb5">
                    <h1 id="f5" style="font-size:15px">iPad gen 9: Cách thiết lâp tối ưu cho công việc & học tập</h1>
                    <p style="font-size: 15px;"><i class="fa-regular fa-calendar"></i>29/09/2023</p>
                </div>
            </div>
            <div class="board6">
                <a href="https://shopdunk.com/dat-truoc-iphone-15">
                    <img id="img5" src="https://shopdunk.com/images/thumbs/0016914_maxresdefault-2_1600.jpeg" alt="">
                </a>
                <div class="fontb6">
                    <h1 id="f6" style="font-size:15px;">iPad M1 dành cho ai? Hướng dẫn lựa chọn iMac M1 cho...</h1>
                    <p style="font-size: 15px;"><i class="fa-regular fa-calendar"></i>29/09/2023</p>
                </div>
            </div>
        </div>
        <div class="press3">
            <div class="board5  ">
                <a href="https://shopdunk.com/iphone-15-dung-chip-gi">
                    <img id="img4" src="https://shopdunk.com/images/thumbs/0014265_maxresdefault%20(27)_1600.jpeg" alt="">
                </a>
                <div class="fontb5">
                    <h1 id="f5" style="font-size:15px">iPhone 12 vào 2023 | Đủ Dùng Nhưng Vẫn Nên Lựa... </h1>
                    <p style="font-size: 15px;"><i class="fa-regular fa-calendar"></i>29/09/2023</p>
                </div>
            </div>
            <div class="board6">
                <a href="https://shopdunk.com/ipad-gen-10-va-ipad-gen-9">
                    <img id="img5" src="https://shopdunk.com/images/thumbs/0014251_maxresdefault%20(14)_1600.jpeg" alt="">
                </a>
                <div class="fontb6">
                    <h1 id="f6" style="font-size:15px;">Top phụ kiện MacBook mà bạn NÊN hoặc KHÔNG...</h1>
                    <p style="font-size: 15px;"><i class="fa-regular fa-calendar"></i>29/09/2023</p>
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <a href="https://shopdunk.com/news-ivideo" style="font-size: 14px;">Xem tất cả iVideo ></a>
        </div>
        <div class="topic-block">
            <div class="topic-block-body">
                <div class="video-area">
                    <div class="content-video">
                        <img src="//cdn.tgdd.vn/mwgcart/topzone/images/topnews/desktop/video-title.png" width="75" height="24">
                        <div class="all_content_video">
                            <div class="item_video big_vd">
                                <iframe title="YouTube video player" src="https://www.youtube.com/embed/69bFJeJiEDg?start=1" width="100%" height="100%" frameborder="0" allowfullscreen=""></iframe>
                            </div>
                            <div class="item_video normal_vd">
                                <iframe title="YouTube video player" src="https://www.youtube.com/embed/94ec9ETfps8?start=1" width="100%" height="100%" frameborder="0" allowfullscreen=""></iframe>
                            </div>
                            <div class="item_video normal_vd">
                                <iframe title="YouTube video player" src="https://www.youtube.com/embed/FDh8pYtMtIc?start=1" width="100%" height="100%" frameborder="0" allowfullscreen=""></iframe>
                            </div>
                            <div class="item_video normal_vd">
                                <iframe title="iPhone 14/14 Plus VÀNG chính thức! Máy đã ế còn cho thêm màu ế, nước đi KHÓ HIỂU của Apple?!" src="https://www.youtube.com/embed/k1at0x4Ut1U" width="100%" height="100%" frameborder="0" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="register">
        <div class="register-content">
            <form id="newRegister">
                <p>
                    <h1 style="margin-bottom: 1px;">
                        Đăng ký nhận tin từ ShopDunk
                    </h1>
                    <div style="margin-bottom: 10px;">
                        Thông tin sản phẩm mới nhất và chương trình khuyến mãi
                    </div>
                    <div>
                        <input id="email" type="email" placeholder="Email của bạn">
                        <button type="button" id="subscribe-button" class="button-1 newsletter-subscribe-button">Đăng ký</button>
                    </div>
                </p>
            </form>
        </div>
    </div>
</body>
</html>
